@font-face {
  font-family: 'Dancing Matilda';
  src: url('../../public/fonts/DancingMatilda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.landing-page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(0.9);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.overlay {
  width: 200px;
  height: 200px;
  margin-bottom: 20px; 
}

.name {
  font-family: 'Dancing Matilda', 'Dancing Script', cursive;
  color: #0a3663;
  font-size: 5rem; 
  margin: 0; 
}

.arrow {
  margin-top: 20px; 
  font-size: 3rem;
  color: #0a3663;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}


 /* Smooth movement when hovering */
.arrow:hover {
  transform: translateY(10px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .overlay {
    width: 150px;
    height: 150px;
  }

  .name {
    font-size: 3rem;
  }

  .arrow {
    font-size: 2rem;
  }
}
