body {
  /* Add space at the top so content doesn't get hidden behind the navbar */
 margin: 0;
 padding: 0;
 overflow-x: hidden; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

button.nav-link {
  all: unset; 
  padding: 10px 10px; 
  font-size: 17px; 
  color: black; 
  background-color: transparent; /* Remove the blue background */
  border: none; /* Remove any borders */
  text-align: center; 
  cursor: pointer; 
  transition: box-shadow 0.3s ease, color 0.3s ease;
  outline: none; /* Ensure no outline */
}


button.nav-link:hover {
  color: #ffffff; /* Example hover color */
  text-decoration: underline;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.15); /* Shadow with minimal feather */
  background-color: transparent; /* Ensure no background color */
  border: none;
}


.navbar {
  background-color: transparent !important;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed; 
  backdrop-filter: blur(10px);
}


.navbar-logo {
  color: #ffb957; 
  font-size: 24px;  
  font-weight: bold;  
}

.navbar-nav {
  list-style: none;
  display: flex; 
  gap: 15px; 
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0; }

.nav-link {
  color: #fff;
  text-decoration: none; 
  font-size: 18px; 
  transition: color 0.3s, background-color 0.3s; 
  padding: 5px 10px; 
  border-radius: 4px; 
}

.nav-link:hover {
  color: #fff;
  background-color: transparent; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: none; /* No border on hover */
}

.nav-link.active {
  color: #0056b3;
  font-weight: bold;
  text-decoration: underline;
}

.drawer-toggle {
  display: none; 
  background: none;
  border: none;
  font-size: 24px;
  color: #fff; 
  cursor: pointer; 
}


/* This is Drawer for MOBILE VIEW*/
.drawer {
  display: none;
  position: fixed; 
  top: 0;
  right: 0;
  background-color: #6993c1; 
  width: 250px;
  height: 100vh; 
  overflow-y: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  transition: transform 0.3s ease;  
  transform: translateX(100);
}

.drawer.open {
  display: block; 
  transform: translateX(0); 
}

.drawer .drawer-close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 24px;
  color: #fff; 
  cursor: pointer;
}

.drawer .drawer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer .drawer-nav .drawer-item {
  padding: 10px; 
}

.drawer .drawer-nav .drawer-link {
  color: #fff;
  text-decoration: none; 
  display: block;  
  font-size: 18px; 
  transition: color 0.3s, background-color 0.3s;
  border-radius: 4px; 
}

.drawer .drawer-nav .drawer-link:hover {
  color: #fff; 
  background-color: #0056b3;
}



/* This is for Mobile View with screen width < 600px */
@media (max-width: 600px) { 
  .navbar {
    justify-content: space-between; 
  }

  .drawer-toggle {
    display: block;
  }

  .navbar-nav {
    display: none;   
  }
}

@media (min-width:600px) { 
  .drawer-toggle {
    display: none; 
  }

  .drawer {
    display: none; 
  }
}

