.projects-section {
  padding: 2rem;
  padding-bottom: 100px; /* Ensure padding is in pixels */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  gap: 1.5rem; /* Adjust gap as needed to create space between cards */
  justify-items: center; /* Center items horizontally */
}

.project-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Width of each card */
  width: 100%;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.project-info {
  margin-top: 1rem;
}

.project-info h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.project-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
}

.project-info strong {
  font-weight: bold;
  color: #333;
}

.skills-section {
  padding: 2rem;
  background-color: #eaeaea; /* Light gray background */
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Default to 10 columns */
  gap: 1rem; /* Space between grid items */
  justify-items: center; /* Center items horizontally */
}

/* Adjust the layout for mobile view */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for mobile */
    grid-template-rows: repeat(5, auto); /* 5 rows for mobile */
  }
}

/* Ensure each skill item takes full width of its grid cell */
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: #fff; /* White background for items */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width of the grid cell */
}

.skill-icon {
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  margin-bottom: 0.5rem;
}

.skill-item p {
  margin: 0;
}
